#about-page {
  width: 100%;
  height: 100%;
}

#about-page .main-content {
  background-image: url("../../assets/images/img2.png");
  background-repeat: no-repeat;
  background-position: 50rem 6rem;
  background-size: 25rem;
  transition: all 0.2s ease-in-out;
}

#about-page .middle-content {
  background-image: url("../../assets/graphics.svg");
  background-repeat: no-repeat;
  background-position: center 3rem;
  background-size: 15rem;
  transition: all 0.2s ease-in-out;
}

/*=== Responsive === */

@media screen and (max-width: 1145px) {
  #about-page .main-content {
    background-position: 38rem 5rem;
  }

  #about-page .left-main {
    margin-left: 1rem;
  }

  #about-page .middle-left {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #about-page .main-content {
    background-image: none;
  }

  #about-page .left-main {
    max-width: 700px;
  }
}

@media screen and (max-width: 600px) {
  #about-page #middle {
    margin-top: 2rem;
  }

  #about-page .middle-content {
    background-position: center 40rem;
  }

  #about-page .left-main {
    max-width: 500px;
  }

  #about-page .secondary-link {
    padding: 9px 20px;
  }
  
  #about-page .primary-link {
    padding: 9px 10px;
  }
}

@media screen and (max-width: 491px) {
  #about-page .main-content {
      padding: 6rem calc((100vw - 1000px) / 2);
  }
  #about-page #middle {
    margin-top: 0rem;
  }

  #about-page .middle-content {
    width: 100%;
    height: 790px;
    display: flex;
    background-size: 10rem;
    background-position: center 16rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
  }

  #about-page .middle-right { 
    margin-left: 1rem;
    margin-bottom: 5rem;
  }

  #about-page .left-main {
    max-width: 400px;
  }
  
  #about-page h1 {
    font-size: 2.2rem;
  }

  #about-page p  {
    font-size: 1.1rem;
  }

  #about-page .primary-link {
    padding: 9px 10px;
  }

  #about-page .secondary-link {
    padding: 9px 15px;
  }

  #about-page  #secondary-btn {
    margin-left: 0.7rem;
  }
}
