#about-page {
  width: 100%;
  height: 100%;
}

#about-page .main-content {
  background-image: url("../../assets/images/img2.png");
  background-repeat: no-repeat;
  background-position: 50rem 1rem;
  background-size: 31rem;
  transition: all 0.2s ease-in-out;
}
