#about-page {
  width: 100%;
  height: 100%;
}

/* === Main === */
#about-page .main-content p{
  margin-bottom: 1rem;
}


#about-page .buttons {
  margin-top: 1.6rem;
}

#about-page .main-content {
  background-image: url("../../assets/images/img2.png");
  background-repeat: no-repeat;
  background-position: 50rem 5rem;
  background-size: 23rem;
  transition: all 0.2s ease-in-out;
}

/* === Middle === */
#about-page .middle-content {
  background-image: url("../../assets/graphics.svg");
  background-repeat: no-repeat;
  background-position: center 3rem;
  background-size: 15rem;
  transition: all 0.2s ease-in-out;
}

/*=== Responsive === */
@media screen and (max-width: 1145px) {

  /* === Main === */
  #about-page .main-content {
    background-position-x: 37rem;
  }

  #about-page .left-main {
    margin-left: 1rem;
  }

  /* === Middle === */
  #about-page .middle-left {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {

  /* === Main === */
  #about-page .main-content {
    background-image: none;
  }

  #about-page .left-main {
    max-width: 700px;

  }
}

@media screen and (max-width: 600px) {

  /* === Main === */
  #about-page .main-content {
    padding-top: 5rem;
  }

  #about-page .left-main {
    max-width: 500px;
  }
  
  /* === Middle === */
  #about-page .middle-content {
    background-position-y: 25rem;
    background-size: 12rem;
  }
  
  #about-page .middle-left {
    margin-bottom: 2rem;
  }

  #about-page .middle-right {
    margin-bottom: 12rem;
  }
  
  
}

@media screen and (max-width: 491px) {
  
  /* === Main === */
  #about-page .left-main {
    margin-left: 1.5rem;
  }
  
  #about-page .left-main h1 {
    font-size: 2.4rem;
  }
  
  #about-page .left-main p {
    font-size: 1.4rem;
  }
  
  /* === Middle === */
  #about-page .middle-content {
    width: 100%;
    height: 1000px;
    background-size: 10rem;
    background-position-y: 51rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
  }

  #about-page .middle-right {
    margin-left: 1rem;
  }

  #about-page #middle h1 {
    font-size: 1.6rem
  }

  #about-page #middle p {
    font-size: 1.4rem;
    max-width: 150px;
  }
}
@media screen and (max-width: 357px) {
  #about-page .left-main p {
    font-size: 1.2rem;
  }
}
