#about-page {
  width: 100%;
  height: 100%;
}

#about-page .main-content {
  background-image: url("../../assets/images/img2.png");
  background-repeat: no-repeat;
  background-position: 50rem 6rem;
  background-size: 25rem;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1145px) {
  #about-page .main-content {
    background-position: 38rem 5rem;
  }

  #about-page .main-content .left-main {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #about-page .main-content {
    background-image: none;
  }

  #about-page .main-content p {
    max-width: 700px;
  }
}

@media screen and (max-width: 600px) {
  #about-page .main-content p {
    max-width: 500px;
  }

  #about-page .secondary-link {
    padding: 9px 20px;
  }
  
  #about-page .btn-link {
    padding: 9px 10px;
  }
}

@media screen and (max-width: 491px) {

  #about-page .main-content h1 {
    font-size: 2.2rem;
  }

  #about-page .main-content p {
    font-size: 1.1rem;
    max-width: 400px;
  }

  #about-page .secondary-link {
    padding: 9px 15px;
  }
  
  #about-page .btn-link {
    padding: 9px 10px;
  }
  
  #about-page .buttons #secondary-btn {
    margin-left: 0.7rem;
  }
}
