#about-page {
  width: 100%;
  height: 100%;
}

#about-page .main-content {
  background-image: url("../../assets/images/img2.png");
  background-repeat: no-repeat;
  background-position: 52rem 2rem;
  background-size: 30rem;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1400px) {
  #about-page .main-content {
    background-position: 50rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #about-page .main-content {
    background-position: 35rem 3rem;
    background-size: 29rem;

  }
}

@media screen and (max-width: 768px) {
  #about-page .main-content {
    background-position: center 30rem;
    background-size: 20rem;
  }

  #about-page .main-content {
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  #about-page .main-content {
    background-position: center 29rem;
    background-size: 22rem;
  }

  #about-page .main-content {
    height: 800px;
  }
}

@media screen and (max-width: 565px) {
  #about-page .main-content {
    background-position: center 32rem;
    background-size: 22rem;
  }

  #about-page .main-content {
    height: 850px;
  }
  
}

