#landing-page {
  width: 100%;
  height: 100%;
}

#landing-page .main-content {
  background-image: url("../../assets/images/img.png");
  background-repeat: no-repeat;
  background-position: 50rem 6rem;
  background-size: 21rem;
  transition: all 0.2s ease-in-out;
}

/*=== Responsive === */

@media screen and (max-width: 1145px) {
  #landing-page .main-content {
    background-position: 38rem 5rem;
  }

  #landing-page .left-main {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #landing-page .main-content {
    background-image: none;
  }

  #landing-page .left-main {
    max-width: 700px;
  }
}

@media screen and (max-width: 600px) {
  #landing-page .left-main {
    max-width: 500px;
  }

  #landing-page .secondary-link {
    padding: 9px 20px;
  }
  
  #landing-page .btn-link {
    padding: 9px 10px;
  }
}

@media screen and (max-width: 385px) {

  #landing-page h1 {
    font-size: 2.2rem;
  }

  #landing-page p {
    font-size: 1.2rem;
  }

  #landing-page .primary-link {
    padding: 9px 8px;
  }

  #landing-page #secondary-btn {
    margin-left: 0.7rem;
  }

  #landing-page .secondary-link {
    padding: 9px 10px;
  }
}
