#landing-page {
  width: 100%;
  height: 100vh;
}

.fixed-content {
  position: fixed;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards #card {
  margin-left: 1.6rem;
}

.footer-landing {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-landing .btn-secondary {
  width: 30%;
  margin-top: 2rem;
}

#landing-page #middle {
  height: 670px;
}

@media (max-width: 1036px) {
  #landing-page #middle {
    height: 700px;
  }

  .cards #card {
    margin-top: 2rem;
  }
}

@media (max-width: 803px) {
    #landing-page #middle {
      height: 1090px;
    }

  .footer-landing .btn-secondary {
    width: 40%;
  }
}

@media (max-width: 691px) {
  #landing-page #middle {
    height: 1500px;
  }

  .cards #card {
    margin-left: 0rem;
  }

  .footer-landing .btn-secondary {
    width: 50%;
  }

  #landing-page #middle .header-middle h2 {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  #landing-page #middle .header-middle h2 {
    font-size: 15px;
  }
}