#landing-page {
  width: 100%;
  height: 100%;
}

/* === Main=== */
#landing-page #main {
  width: 100%;
  height: 100%;
}

#landing-page .main-content p {
  margin-bottom: 1.6rem;
}

#landing-page .main-content {
  background-image: url("../../assets/images/img.png");
  background-repeat: no-repeat;
  background-position: 50rem 5rem;
  background-size: 18rem;
  padding-top: 8rem;
  transition: all 0.2s ease-in-out;
}

#landing-page .left-main {
  max-width: 55%;
}

/* === Middle === */
#landing-page #middle h3 {
  margin-top: 1rem;
}

#landing-page .middle-content {
  flex-wrap: wrap;
}

/*=== Responsive === */
@media screen and (max-width: 1145px) {

  /* === Main === */
  #landing-page .main-content {
    background-position: 38rem 5rem;
  }

  #landing-page .left-main {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 916px) {

  /* === Middle === */
  #landing-page .middle-content {
    justify-content: center;
  }

  #landing-page .middle-content>.card {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {

  /* === Main === */
  #landing-page .main-content {
    background-image: none;
  }

  #landing-page .left-main {
    max-width: 700px;
  }
}

@media screen and (max-width: 499px) {
  #landing-page .left-main p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 424px) {

  /* === Middle === */
  #landing-page .middle-content {
    justify-content: center;
  }

  #landing-page .middle-content>.card {
    margin-left: 0rem;
  }

  /* === Main === */
  #landing-page .left-main {
    margin-left: 1rem;
  }

  #landing-page .left-main h1 {
    font-size: 2.3rem;
  }

  #landing-page .left-main p {
    font-size: 1.3rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 355px) {
  #landing-page .left-main {
    margin-left: 0.2rem;
  }

  #landing-page .left-main p {
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
}