#portifolio-page {
  width: 100%;
  height: 100%;
}

#portifolio-page .card-link {
  margin: 0.5rem;
}

#portifolio-page .cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#portifolio-page .middle-content {
  padding: 5rem calc((100vw - 1400px) / 2);
}