#portifolio-page {
  width: 100%;
  height: 100%;
}

/* === Middle === */
#portifolio-page #middle > h2 {
  padding-top: 5rem;
  max-width: 400px;
}

#portifolio-page .middle-content>.card {
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
}

#portifolio-page .middle-content {
  justify-content: center;
  flex-wrap: wrap;
}

/*=== Responsive === */

@media screen and (max-width: 916px) {

  /* === Middle === */
  #portifolio-page .middle-content {
    justify-content: center;
  }
}

@media screen and (max-width: 424px) {

  /* === Middle === */
  #portifolio-page .middle-content {
    justify-content: center;
  }

  #portifolio-page .middle-content>.card {
    margin-left: 0rem;
  }
}
