.btn-primary {
  width: 35%;
  height: 50%;
  border-radius: 0.25rem;
  background-color: var(--normal-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.btn-primary a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light-color);
}

.btn-primary:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .btn-primary a {
    font-size: 1rem;
  }
} 

@media(max-width: 374px) {
  .btn-primary a {
    font-size: 0.9rem;
  }
}