#nav-btn {
  display: flex;
  align-items: center;
}

.btn-link {
  font-weight: 500;
  border-radius: 4px;
  padding: 9px 21px;
  outline: none;
  cursor: pointer;
  color: var(--light-theme);
  background-color: var(--normal-purple);
  border: 2px solid var(--normal-purple);
  transition: all 0.2s ease-in-out;

}

.btn-link:hover  {
  background-color: var(--light-theme);
  color: var(--normal-purple); 
  transition: all 0.2s ease-in-out;
}