.btn-secondary {
  width: 65%;
  height: 50%;
  margin-left: 1rem;
  border-radius: 0.25rem;
  border: 2px solid var(--dark-purple);
  transition: 0.4s;
}

.btn-secondary a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-purple);
}

.btn-secondary:hover a {
  cursor: pointer;
  color: var(--light-color);
  background-color: var(--dark-purple);
}

@media (max-width: 500px) {
  .btn-secondary a {
    font-size: 1rem;
  }
}

@media(max-width: 374px) {
  .btn-secondary a {
    font-size: 0.9rem;
  }
}