#button {
  display: flex;
  align-items: center;
}

#button-link {
  padding: 9px 25px;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.blue-btn {
  color: var(--light-theme);
  background-color: var(--normal-purple);
  border: 2px solid var(--normal-purple); 
  transition: all 0.2s ease-in-out;
}

.blue-btn:hover  {
  background-color: var(--light-theme);
  color: var(--normal-purple); 
  transition: all 0.2s ease-in-out;
}

.black-btn {
  color: var(--light-theme);
  background-color: var(--dark-theme);
  border: 2px solid var(--dark-theme);
  transition: all 0.2s ease-in-out;
}

.black-btn:hover  {
  background-color: var(--light-theme);
  color: var(--dark-theme); 
  transition: all 0.2s ease-in-out;
}
