#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
}

.left-main {
  max-width: 600px;
}

.main-content {
  background-color: var(--light-theme);
  width: 100%;
  height: 480px;
  display: flex;
  align-items: flex-start;
  justify-content: top;
  flex-direction: column;
  padding: 7rem calc((100vw - 1000px) / 2);
  transition: all 0.2s ease-in-out;
}

.main-content h1 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark-purple);
}

.main-content h1 span {
  font-weight: 600;
  margin-left: 1rem;
}

.main-content p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 1rem;
  max-width: 500px;
}
