#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
}

.left-main {
  max-width: 600px;
  transition: all 0.2s ease-in-out;
}

.main-content {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2.6rem calc((100vw - 1000px) / 2);
  transition: all 0.2s ease-in-out;
}

.main-content h1 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark-purple);
}

.main-content h1 span {
  font-weight: 600;
  margin-left: 1rem;
}

.main-content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .main-content {
    background-position: 42rem;
  }
}


@media screen and (max-width: 1088px) {
  .main-content {
    background-position: 37rem;
  }
}

@media screen and (max-width: 1024px) {
  .left-main {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .left-main {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 499px) {
  .left-main {
    margin-left: 0.8rem;
  }
  
  .main-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .main-content p {
    font-size: 1.3rem;
  }
}


