#main-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../images/img1.png") no-repeat 50rem 5rem;
  transition: 0.2s;
}

.main-content {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: top;
  flex-direction: column;
  padding: 0rem 2rem;
}

.main-content .title-main {
  margin-top: 10rem;
  font-size: 56px;
  font-weight: 500;
  color: var(--normal-purple);
}

.main-content .title-main span {
  margin-left: 1rem;
  font-weight: 600;
}

.main-content .description-main {
  font-size: 35px;
  color: var(--light-gray);
  max-width: 600px;
}

.buttons-main {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  #main-section {
    background-position: 40rem 5rem; 
  }
}

@media (max-width: 1070px) {
  #main-section {
    background-position: 33rem 5rem; 
  }
}

@media(max-width: 768px) {
  .buttons-main {
    width: 100%;
  }

  .main-content .description-main {
    font-size: 28px;
    max-width: 700px;
  }

  #main-section {
    background-size: 25rem;
    background-position: 10rem 30rem; 
  }
}

@media(max-width: 500px) {
  .main-content .description-main {
    font-size: 19px;
    max-width: 400px;
  }

  .main-content .title-main {
    font-size: 32px;
    margin-top: 7rem;
  }

  #main-section {
    background-size: 20rem;
    background-position: center 22rem; 
  }
}

@media(max-width: 374px) {
  .main-content .description-main {
    font-size: 18px;
  }
}

@media(max-width: 320px) {
  .main-content .description-main {
    font-size: 15px;
  }
  #main-section {
    background-size: 15rem;
    background-position: center 20rem; 
  }
  
}