#main-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: top;
  flex-direction: column;
  padding: 0rem 2rem;
}

.main-content .title-main {
  margin-top: 10rem;
  font-size: 56px;
  font-weight: 500;
  color: var(--normal-purple);
}

.main-content .title-main span {
  margin-left: 1rem;
  font-weight: 600;
}

.main-content .description-main {
  font-size: 35px;
  color: var(--light-gray);
  max-width: 600px;
}

.buttons-main {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media(max-width: 768px) {
  .buttons-main {
    width: 100%;
  }

  .main-content .description-main {
    font-size: 28px;
    max-width: 700px;
  }
}

@media(max-width: 500px) {
  .main-content .description-main {
    font-size: 19px;
    max-width: 400px;
  }

  .main-content .title-main {
    font-size: 32px;
    margin-top: 7rem;
  }
}