#card {
  width: 320px;
  height: 355px;
  border-radius: 12px;
  background-color: #FFF;
  border: 2px solid rgba(58,58,58,0.3);
  box-shadow: 2px 2px 5px rgba(58,58,58,0.2)
}

.header-card {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: top;
  justify-content: center;
}

.header-card img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
}

#card:hover {
  cursor: pointer;
  border: 2px solid var(--normal-purple);
  box-shadow: 2px 2px 5px var(--light-purple);
}

#card:hover .header-card {
  border: 3px solid var(--light-color);
  border-radius: 11px 11px 0px 0px;
}

.content-card {
  padding: 1rem 1rem;
  border-top: 2px solid rgba(58,58,58,0.2);
}

.content-card h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--normal-purple);
  margin-bottom: 0.5rem;
}

.content-card p {
  font-size: 16px;
  color: var(--light-gray);
}