.card {
  width: 300px;
  height: 355px;
  
  border-radius: 12px;
  background-color: var(--light-theme);
  border: 2px solid rgba(58, 58, 58, 0.1);
  box-shadow: 4px 4px 6px rgba(58, 58, 58, 0.3);
}

.card:hover {
  cursor: pointer;
  border: 2px solid rgba(76, 0, 255, 0.8);
  box-shadow: 4px 4px 6px rgba(76, 0, 255, 0.6);
}

.header-card {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 12px 12px 0px 0px;
  border-bottom: 2px solid rgba(58, 58, 58, 0.1);
}

.header-card img {
  width: 100%;
  height: 100%;
  
  border-radius: 11px 11px 0px 0px;
}

.card-content {
  padding: 0.5rem 1rem;
}

.card-content p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 0.5rem;
}