#happy-page {
  width: 100%;
  height: 100%;
}

/* === Main === */
#happy-page .left-main {
  max-width: 48%;
}

#happy-page .main-content {
  max-height: 500px;
  background-image: url("../../../assets/templates/temp-happy.png");
  background-repeat: no-repeat;
  background-position: 45rem 7rem;
  background-size: 25rem;
  transition: all 0.2s ease-in-out;
}

/* === Middle === */
#happy-page .middle-left {
  max-width: 500px;
}

#happy-page .middle-content p {
  font-size: 1.4rem;
  line-height: normal;
  margin-bottom: 1rem;
  max-width: 500px;
}

#happy-page .techs {
  align-self: center;
  margin-left: 19rem;
}

#happy-page .techs img {
  width: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#happy-page .techs h3 {
  margin-bottom: 1rem;
}

#happy-page .middle-content {
  background-image: url("../../../assets/templates/phone-happy.png");
  background-repeat: no-repeat;
  background-position: 4rem 2rem;
  background-size: 15rem;
  transition: all 0.2s ease-in-out;
  align-items: flex-end;
  flex-direction: column;
}


@media screen and (max-width: 1125px) {
  #happy-page .main-content {
    background-position-x: 39rem;
  }
  
}

@media screen and (max-width: 1024px) {
  #happy-page .techs {
    margin-left: 11rem;
  }

  #happy-page .left-main {
    margin-left: 1rem;
  }

  #happy-page .main-content {
    background-position-x: 35rem;
  }

  #happy-page .middle-left,
  #happy-page .middle-content p {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 960px) {
  #happy-page .middle-content h1,
  #happy-page .middle-content h2,
  #happy-page .techs {
    align-self: flex-start;
    margin-left: 3rem;
  }

  #happy-page .left-main {
    padding-bottom: 22rem;
    max-width: 85%; 
  }

  #happy-page .main-content {
    background-size: 18rem;
    background-position: 25rem 16rem;
  }
  
  #happy-page .middle-content {
    align-items: flex-start;
    background-image: none;
  }

  #happy-page .middle-left {
    max-width: 100%;
    margin-right: 0;
  }
  
  #happy-page .middle-content p {
    font-size: 1.4rem;
    line-height: normal;
    margin-left: 3rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 755px) {
  #happy-page .main-content {
    max-height: 1200px;
    background-size: 25rem;
    background-position: center 25rem;
  }

  #happy-page .left-main,
  #happy-page .middle-content p {
    align-self: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 454px) {
  #happy-page #button-link {
      padding: 9px 9px;
  }

  #happy-page .main-content {
    background-size: 18rem;
    background-position-y: 25rem;
    max-height: 700px;
  }

  #happy-page .middle-content p ,
  #happy-page .main-content p {
    font-size: 1.2rem;
    line-height: normal;
  }

}

@media screen and (max-width: 375px) {
  #happy-page .middle-content p ,
  #happy-page .main-content p {
    font-size: 1rem;
  }
}