#nav-container {
  width: 100vw;
  height: 100vh;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-bottom: 1px solid var(--light-gray);
  background-image: linear-gradient(
    to bottom left,
    var(--dark-purple),
    var(--light-purple)
  );
}

.nav-content {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.content-left a {
  color: var(--light-color);
  font-size: 30px;
  transition: 0.2s;
  margin-top: 0.7rem;
  margin-right: 1rem;
}

.content-left svg:hover {
  transform: scale(1.1);
}

.content-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-right ul {
  display: flex;
}

.content-right .nav-item a {
  font-size: 20px;
  color: var(--light-color);
  margin-right: 3rem;
}

.content-right .nav-item {
  transition: 0.2s;
}

.content-right .nav-item:hover {
  font-weight: 500;
  transform: scale(1.1);
}
.drop-menu {
  display: flex;
  color: var(--light-color);
  margin-right: 1.6rem;
  font-size: 36px;
  visibility: hidden;
}

.drop-menu:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  .content-right .nav-menu {
    display: none;
  }

  .drop-menu {
    visibility: visible;
  }
}
