#nav-bar {
  width: 100%;
  height: 76px;

  position: fixed;
  z-index: 10;
  
  display: flex;
  justify-content: space-between;
  
  padding: 0.5rem calc((100vw - 1000px) / 2);
  background-image: linear-gradient(
    to top right,
  #131314,
  #18181a
  
  );
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-link {
  height: 100%;
  padding: 0 1rem;
  
  font-size: 20px;
  color: var(--light-theme);
  
  display: flex;
  align-items: center;
  
  cursor: pointer;
}

.nav-link img {
  width: 4rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.nav-link img:hover {
  transform: scale(1.1);
}

.bars {
  display: none;
  color: var(--dark-purple);
}

@media screen and (max-width: 768px) {
  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }
}