footer {
  height: 76px;
  border-top: 2px solid rgba(58, 58, 58, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.content-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-footer svg {
  font-size: 22px;
  color: var(--normal-purple);
}

.content-footer h1 {
  font-weight: 500;
  font-size: 20px;
  color: var(--normal-purple);
  margin-left: 0.5rem;
}


.content-footer h1 strong {
  margin-left: 0.5rem;
}

.content-footer h1 span {
  font-weight: 400;
  font-size: 18px;
}