#middle {
  width: 100%;
  height: 580px;
  position: absolute;
  top: 40rem;  display: flex;
  align-items: top;
  justify-content: center;
  background-color: var(--light-color);
  border-top: 0.1rem solid rgba(58, 58, 58, 0.2);
}

.header-middle {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-middle h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--normal-purple);
}

.content-miiddle {
  width: 1200px;
  height: 100%;
}

