@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --dark-purple: #3B50A3;
  --normal-purple: #4E69D2;
  --light-purple: #6778BB;

  --dark-gray: #232323;
  --normal-gray: #585858;
  --light-gray: #828282;

  --dark-theme: #131314;
  --light-theme: #FBFBFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}