@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --dark-purple: #3B50A3;
  --normal-purple: #4E69D2;
  --light-purple: #6778BB;

  --dark-gray: #232323;
  --normal-gray: #585858;
  --light-gray: #828282;

  --dark-theme: #131314;
  --light-theme: #FBFBFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--light-gray);
}

h1 {
  color: var(--dark-purple);
  font-size: 2.6rem;
  font-weight: 500;
}

h2 {
  color: var(--dark-purple);
  font-weight: 500;
  font-size: 1.3rem;
}

h3 {
  color: var(--dark-purple);
  font-weight: 600;
  font-size: 1.2rem;
}

span {
  font-weight: 700;
  margin-left: 0.5rem;
}

input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

textarea {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: rgba(58, 58, 58, 0.1);
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.absolute {
  width: 100%;
  position: absolute;
  margin-top: 29rem;
  background-color: #FFF;
}

/* === Buttons === */
.buttons {
  display: flex;
  margin-top: 1rem;
}

.buttons #button {
  margin-right: 0.7rem;
}