@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --dark-purple: #3B50A3;
  --normal-purple: #4E69D2;
  --light-purple: #6778BB;

  --dark-gray: #232323;
  --normal-gray: #585858;
  --light-gray: #828282;

  --dark-theme: #131314;
  --light-theme: #FBFBFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark-purple);
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--normal-gray);
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

span {
  font-weight: 600;
  margin-left: 1rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: var(--dark-purple);
  font-weight: 500;
  font-size: 1.3rem;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.absolute {
  width: 100%;
  position: absolute;
  margin-top: 29rem;
  background-color: #FFF;
}